<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.opelownersgang.gangapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".service_receviver.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".dashboard.display_notifications" />

        <activity
            android:name=".activity.navigation_drawer"
            android:icon="@drawable/logo"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".menu.share_app"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".menu.about_app"
            android:theme="@style/AppTheme.ActionBar" />

        <activity android:name=".navigation_drawer_menu.about_us" />
        <activity android:name=".navigation_drawer_menu.goin_us" />
        <activity android:name=".navigation_drawer_menu.goals" />
        <activity android:name=".navigation_drawer_menu.protocol" />
        <activity android:name=".navigation_drawer_menu.contract_network" />
        <activity android:name=".navigation_drawer_menu.lastest_news" />
        <activity android:name=".navigation_drawer_menu.gallery" />
        <activity android:name=".navigation_drawer_menu.call_us" />
        <activity android:name=".navigation_drawer_menu.periodic_evaluation" />

        <service
            android:name=".service_receviver.MyService"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />

        <receiver
            android:name=".service_receviver.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>